h1 {
    color: darkblue;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 32px;
  }
  
  
  p {
    text-indent: 30px;
    font-family: Helvetic, 'Times New Roman', Times, serif, Arial, "san serif";
    background-color: grey;
    padding: 30px;
    font-size: 140%;
  }
  

  #content {
    border: 2px dashed gray;
    padding: 10px;
    margin: 10px;
  }